{% set author = post.author %}
{% set categories = post.categories %}

<div class="blog-post">
    <h2 class="blog-post-title">
        <a href="{{ post.permalink }}">{{ post.title }}</a>
    </h2>
    <p class="blog-post-meta">
        {% if post.date is not null %}
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.date|date('F, jS Y') }}
        {% endif %}
        {% if author is not null %}
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="{{ author.permalink }}">{{ author.name }}</a>
        {% endif %}
        {% if categories is not empty %}
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {{ categories|link }}
        {% endif %}
    </p>

    {{ post.excerpt|raw }}
</div>
